@model IEnumerable<Old_Record_Store.WebApp.Models.LocationViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<h1>Location List</h1>

<div>
    <hr />
    <dl class="row">
    </dl>
</div>
<table>
    <thead>
    <th> Location Name</th>
    <th> Location ID</th>
    <th> Location Inventory </th>
    </thead>


    @foreach (var item in Model)
    {
        <tr>

            <td class="col-sm-10">
                @Html.DisplayFor(model => item.Name)
            </td>

            <td class="col-sm-10">
                @Html.DisplayFor(model => item.LocationId)
            </td>
        </tr>
    }
</table>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>
